<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search Product</title>
    <link rel="stylesheet" href="../slys/components/components.css">
    <link rel="stylesheet" href="../slys/slys/slys.css">
</head>
<body class="bg-blue-5">
 <!---------------------------------------->
 <!---------------------------------------->
   <div id="search-product-display"></div>
 <!---------------------------------------->
 <!---------------------------------------->
   <script type="module" src="../main/search-product.js"></script>
 <!---------------------------------------->
 <!---------------------------------------->
</body>
</html>